*~
[#]*[#]
__pycache__
.ipynb_checkpoints
*.txt
*.csv
*.vtk

# Documentation
docs/api/*
docs/_build

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg